$footer-paars-blauw: #686de0;
$background-grijs: #c3cfe2;
$background-text-wit: #fff;
$color-tekst: rgb(117, 112, 112);
$social-blog: #e17b77;
$social-facebook: #3b5998;
$social-twitter: #00aced;
$social-github: #333;
$social-linkedin: #007bb6;
